# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [43]:
# import numpy and pandas
import numpy as np
import pandas as pd
import scipy.stats as stats

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [6]:
# Your code here:
salaries = pd.read_csv("../../Datasets/Current_Employee_Names__Salaries__and_Position_Titles.csv")

Examine the `salaries` dataset using the `head` function below.

In [7]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [8]:
# Your code here:

salaries.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [13]:
# Your code here:

salaries["Salary or Hourly"].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

In [31]:
salaries.groupby("Salary or Hourly")[["Typical Hours","Hourly Rate"]].count()

#there is no info of typical hours and hourly rate for for the salary type, hence the NaN.

                  Typical Hours  Hourly Rate
Salary or Hourly
Hourly                     8022         8022
Salary                        0            0

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [34]:
# Your code here:

salaries.groupby("Department")["Name"].count()

Department
ADMIN HEARNG                39
ANIMAL CONTRL               81
AVIATION                  1629
BOARD OF ELECTION          107
BOARD OF ETHICS              8
BUDGET & MGMT               46
BUILDINGS                  269
BUSINESS AFFAIRS           171
CITY CLERK                  84
CITY COUNCIL               411
COMMUNITY DEVELOPMENT      207
COPA                       116
CULTURAL AFFAIRS            65
DISABILITIES                28
DoIT                        99
FAMILY & SUPPORT           615
FINANCE                    560
FIRE                      4641
GENERAL SERVICES           980
HEALTH                     488
HUMAN RELATIONS             16
HUMAN RESOURCES             79
INSPECTOR GEN               87
LAW                        407
LICENSE APPL COMM            1
MAYOR'S OFFICE              85
OEMC                      2102
POLICE                   13414
POLICE BOARD                 2
PROCUREMENT                 92
PUBLIC LIBRARY            1015
STREETS & SAN             2198
TRANSPORTN                1140
TREASURER                   22
WATER MGMNT               1879
Name: Name, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [44]:
# a series that only contains the hourly rate of those employees which fall into the hourly type

hwage = salaries[salaries["Salary or Hourly"]=="Hourly"]["Hourly Rate"]

Ttest_1sampResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92)

In [49]:
#let's have a quick look at the mean and the std

print("mean:",hwage.mean(),"\n")
print("std:",hwage.std())

mean: 32.78855771628024

std: 12.112572684276799

In [ ]:
# Ho:hourly wage is $30/h
'''Can we accept the null hypothesis?'''

# Let's calculate the p-value using a t-test in order to accept or not the H0; 
# 95% confidence interval (default in the formula)

stats.ttest_1samp (a=hwage, popmean = 30)

# the p-value is way below 0.05 (p-value = 4.3230240486229894e-92) therefore it can be refused

In [50]:
# since the H0 is not accepted, the hourly wage DOES diverge from $30/h
# the confidence interval of 95% in which the wages are is:

stats.t.interval(0.95, len(hwage)-1, hwage.mean(), stats.sem(hwage) )

(32.52345834488425, 33.05365708767623)

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [89]:
# first let's get all the police salaries (variable Annual Salary) into a series
#we pass two conditions: 
#1) take from Salary or Hourly only the salary type
#2) take from department only the police type

police = salaries[(salaries["Salary or Hourly"]=="Salary") & (salaries["Department"]=="POLICE")]["Annual Salary"]

In [91]:
# to make sure there are no null values
police.isnull().sum()

0

In [92]:
#let's have a quick look at the mean
police.mean()

86486.41450313339

In [110]:
# mean = $86000/year
# 95% confidence interval

# H0: salaries/year mean is  $86000 

#p-value calculation

stats.ttest_1samp (a=police, popmean = 86000)

# the pvalue<0.05 so the H0 can be REFUSED

# now we know that the average salary is NOT 86000 but it is higher or lower?
# since the z value in statistic is positive, we know it falls on the positive side (right side)
# that is confirmed by the statistic being higher than 1.960 
#(-1.960,1.960 are the z values that mark the 95% confidence interval in a sample larger than 1000)

Ttest_1sampResult(statistic=3.081997005712994, pvalue=0.0020603403550965137)

Using the `crosstab` function, find the department that has the most hourly workers.

In [94]:
# The crosstab function takes the first variable as rows and the second as columns 
#and desentangles the subvariables within and does the count


pd.crosstab(salaries['Department'],salaries['Salary or Hourly'])

Salary or Hourly       Hourly  Salary
Department
ADMIN HEARNG                0      39
ANIMAL CONTRL              19      62
AVIATION                 1082     547
BOARD OF ELECTION           0     107
BOARD OF ETHICS             0       8
BUDGET & MGMT               2      44
BUILDINGS                   0     269
BUSINESS AFFAIRS            7     164
CITY CLERK                  0      84
CITY COUNCIL               64     347
COMMUNITY DEVELOPMENT       4     203
COPA                        0     116
CULTURAL AFFAIRS            7      58
DISABILITIES                0      28
DoIT                        0      99
FAMILY & SUPPORT          287     328
FINANCE                    44     516
FIRE                        2    4639
GENERAL SERVICES          765     215
HEALTH                      3     485
HUMAN RELATIONS             0      16
HUMAN RESOURCES             4      75
INSPECTOR GEN               0      87
LAW                        40     367
LICENSE APPL COMM           0       1
MAYOR'S OFFICE              8      77
OEMC                     1273     829
POLICE                     10   13404
POLICE BOARD                0       2
PROCUREMENT                 2      90
PUBLIC LIBRARY            299     716
STREETS & SAN            1862     336
TRANSPORTN                725     415
TREASURER                   0      22
WATER MGMNT              1513     366

In [101]:
#using the .idxmax() we obtain the index of the max values
#In this case, the department with the most hourly workers is Streets and sanitation

pd.crosstab(salaries['Department'],salaries['Salary or Hourly']).idxmax()

Salary or Hourly
Hourly    STREETS & SAN
Salary           POLICE
dtype: object

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [103]:
#let's get all the hourly wage of the department Streets and San that fall into the type Hourly
                                        #condition 1                             #condition 2                #data wanted
streets_san = salaries[(salaries["Salary or Hourly"]=="Hourly") & (salaries["Department"]=="STREETS & SAN")]["Hourly Rate"]

In [104]:
#H0: hourly wage is $35/hour
#95% confidence

stats.ttest_1samp (a=streets_san, popmean = 35)

# the p-value<0.05 and therefore the null hypothesis can be refused
# since the statistic is negative and below -1.960, it can be known that the mean hourly wage of Streets and San 
#is indeed lower than $35/h in a 95% confidence interval

Ttest_1sampResult(statistic=-9.567447887848152, pvalue=3.3378530564707717e-21)

In [105]:
streets_san.mean()

33.72837808807734

In [106]:
streets_san.std()

5.735241841459235

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [107]:
# I already did it in challange 1 for extra info but here it is again
#stats.t.interval(confidence_level, len(sample)-1, sample.mean(), stats.sem(sample))   

stats.t.interval(0.95, len(hwage)-1, hwage.mean(), stats.sem(hwage))

(32.52345834488425, 33.05365708767623)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [108]:
stats.t.interval(0.95, len(police)-1, police.mean(), stats.sem(police))

(86177.05631531784, 86795.77269094894)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [116]:
from statsmodels.stats.proportion import proportions_ztest

In [119]:
hourly_workers = len(hwage)
all_pop = len(salaries)

In [124]:
# proportions_ztest(count, nobs, value=None, alternative='two-sided', prop_var=False)

'''
nobs is the total number of trials, i.e. the number of rows in your list.

count is the number of successful trials, i.e. the number of Yes events in your list.

value is the proportion to test against, i.e. 0.6 based on your question text.'''

#returns zstat(test statistic for the z-test) and pvalue (p-value for the z-test)

proportions_ztest(count=hourly_workers,nobs=all_pop, value=0.25)


# the H0 can be refused (proportion!=0.25)
# the hourly workers proportion is not 25%, is lower (negative z-value)

(-3.5099964213703005, 0.0004481127249057967)

In [125]:
hourly_workers/all_pop*100

24.17502938251514